@model IEnumerable<PetStore.Web.Models.Category.CategoryListViewModel>

@{
    ViewData["Title"] = "All";
}

<h1>List all categories</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn-success btn-sm" }) 
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn-info btn-sm" }) 
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
