{{>header}}

<div class="offer-details">
    <h1>{{shoe.name}}</h1>
    <div class="info">
        <img src="{{shoe.imageUrl}}"
            alt="">
        <div class="description">{{shoe.description}}
            <br>
            <br>
            <p class="price">${{shoe.price}}</p>
        </div>
    </div>
    <div class="actions">
        {{#if canEdit}}
        <a href="#/edit/{{shoe._id}}">Edit</a>
        <a href="#/delete/{{shoe._id}}">Delete</a>
        {{else}}
        <a href="#/buy/{{shoe._id}}">Buy</a>
        <span>You bought it</span>
        {{/if}}
    </div>
</div>
{{>footer}}